<%= form_with model: Comment.new, :url => {:action => :create, :controller => :comments}, class:"post-form" do |form| %>
  <h1>New comment</h1>
  <div>
    <%= form.label :comments %>
    <%= form.text_area :text %>
  <div>

  <%= form.submit "Save comment", class:"btn" %>
  <% end %>