<li class="users">
    <img src="<%= user.photo %>" class="users-image">
    <div class="users-info">
      <span><%= user.name %></span>
      <div>Number of posts: <%= user.posts_counter ? user.posts_counter : 0 %></div>
    </div>
</li>