<h1>Blog user page</h1>
<p>Here is a details for given user</p>

<%= render partial: 'user', locals: {user: @user} %>
<p>
  <%= @user.bio %>
</p>

<ul>
  <% @user_posts.each do |post| %>
    
  <% end %>
</ul>
<% unless @user_posts.count < 1 %>
<button>See all posts</button>
<% end %>