<h1>Users all posts</h1>
<p>Here is a list of posts for given user</p>
<%= render partial:'users/user', locals: {user: @user} %>
<p>
  <%= @user.bio %>
</p>

<ul>
  <% @user_posts.each do |post| %>
    <%= render partial:'post', locals:{post: post} %>
  <% end %>
</ul>
<% unless @user_posts.size == 0 %>
  <button>Pagination</button>
<% end %>