/* stylelint-disable */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

 body {
   margin: 0 20%;
 }

 ul {
    list-style-type: none;
 }

 a {
   text-decoration: none;
   color: rgb(70, 140, 245)
 }

 .header {
   height: 35px;
   font-size: 1.5rem;
   font-weight: 700;
   margin: 1rem;
   display: flex;
   justify-content: space-between;
 }

 .new-post {
   font-size: 0.8rem;
   background-color: rgb(10, 196, 140);
   color: #fff;
   align-self: center;
   padding: 0.5rem 1rem;
 }

 .stats {
   display: flex;
   justify-content: flex-end;
   gap:0.5rem;
   color:rgb(80, 78, 78);
 }

 .btn {
  font-size: 0.8rem;
  background-color: rgb(8, 163, 163);
  color: #fff;
  align-self: center;
  padding: 0.5rem 1rem;
 }