.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}

.post-header {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  .stats {
    margin-left: auto;
  }
}

p {
  text-align: justify;
  margin: 1rem 0;
}

.comment {
  margin: 1rem 0;
}
